.chat-top {
    -fx-background-color: white;
    -fx-border-width: 1px 1px 0 1px;
    -fx-border-color: black;
    -fx-padding: 10;
}

.chat-bottom {
    -fx-shape: "M 100 90 L 100 100 L 170 100 L 200 200 L 230 100 L 500 100 L 500 90";
    -fx-background-color: black, white;
    -fx-border-width: 1px;
    -fx-min-height: 20px;
    -fx-border-color: black;
}

.list-cell {
    -fx-background-color: transparent;
}
.list-view {
    -fx-background-color: transparent;
}
